@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
  font-family: "Pacifico", serif;
    margin: 0;
   background-size: 1700px;
    backdrop-filter: blur(px); 
    
    width: vw;
    height: 100w;
    background-repeat: no-repeat;
    background-position: 0px -320px;
    
    
}

header{
  width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 181, 0);
    height: 15vh;
}
header img{
    filter:blur(0px);
    
    height: 100vh;
    width: 100vw;
}
::-webkit-scrollbar {
    width: 0;
  }

  .logo{
    width: 100px;
    height: 100px;
  }
  .logo img{
  
    width: 150px;
    border-radius: 50%;
    height: 150px;
  }


main{
    min-height: 100vh;
    background-color: rgb(255, 181, 0);
}

#name{
    
    font-size: 40px;
    text-decoration: none;
    color: brown;
    margin-right:40px ;
}



.background{

}

h1{
  font-size: 60px;
}


footer{
  background-color: rgb(255, 181, 0);
  height: 70vh;
}
  
#name{
  color: brown;
  font-size: 16px;
  align-items: center;
}

h2{
  font-size: 5px;
}




.sect-1{
  min-height: 100vh;
  background-size: cover;
  background-position: center center;

}


#bg{
  width: 30vw;
  height: 30vh;
  transform: rotateY(50deg);
  transform: rotate(30deg);
}
  



@media screen and (max-width:888px){

  main{
       flex-direction: clumn;
  }

  #bg{
     
      width: 100%;
      height: auto;
    }
    #aa2{
      font-size: 30px;
    }

    nav{
      display: none;
    }



  }
   

#aa2{
  text-decoration: none;
   color: brown;  
   font-size: 30px;
   align-items: center;
}


#ps5{
  width: 500px;
  animation:  slideright 2s 1;
}

.desc{
  font-size: 45px;
  font-family: "Play", sans-serif;
  animation: blink 3s;
}

@keyframes slideright{
 0%{transform: translateX(-250px);}
 100%{transform:translateX(0px) ;}

}

@keyframes blink {
  0%{opacity: 0;}
  100%{opacity: 1;}
}


